<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="notas.css">
    <title>Document</title>
</head>
<body>
  
      <div class="m-3">
        <label for="exampleFormControlTextarea1" class="form-label text-success fw-bold fs-3">NUEVA NOTA </label>
        <textarea id="nota-nueva" class="form-control shadow-lg p-3 mb-4 bg-body rounded " id="exampleFormControlTextarea1" rows="5"></textarea>
      </div>
      <button type="button" id="btnota" class="btn btn-success btn-lg ">Guardar Nota</button>
<script type="module" src="../notas.js"></script>
</body>
</html>