<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../modules/node_modules/bootstrap/dist/css/bootstrap.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ingresos</title>
</head>
<body>
    <h1>Editar Ingreso</h1>
    <div id="formulario-ingresos">
        <form id="form-ingresos" class="row g-3 needs-validation " novalidate>
            <div class="col-md-4">
              <label for="nombre" class="form-label">Nombre del ingreso</label>
              <input type="text" class="form-control" id="nombre-ingreso" value="" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            
            <div class="col-md-6">
                <label for="inversion" class="form-label">Total</label>
                <div class="d-flex">
                  <input class="form-control w-75" type="tel" name="total-ingreso" id="Total-ingreso">
                  
                </div>
                <div class="invalid-feedback">
                </div>
            </div>
            
            <div id="btnformingreso" class="col-12 mt-3 mb-4">
              <button  class="btn btn-success" type="submit">Guardar cambios</button>
            </div>
          </form>

    </div>

    <style>
        #formulario-ingresos{
            width: 80%;
            margin: 0px auto;
        }

        h1{
            margin: 0px auto;
            text-align: center;
            margin: 20px;
        }
    </style>
                <script type="module" src="../ingresos.js"></script>

  
</body>
</html>