.cuerpo{
    display: flex;
    flex-flow: column nowrap;
    width: 85%;
    background-color: rgb(224, 224, 224);
    overflow: hidden;
}
#agregar{
    margin-left: 1450px;
    margin-top: -100px;
}
#agregar:hover{
    transform: scale(1.2);
    margin-right: 10px;
    background: rgb(216, 216, 28);
    box-shadow: 2px 2px 15px #614209;
    
}

.svg{
    width: 100px;

}

#buscar{
    margin-left: 20px;
    width: 1500px;
}

#btnota{
    margin-left: 300px;
}